.timerBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.timerInput {
  padding: 8px;
  border-radius: 6px;
  border: 2px solid #94a3b8;
}

.timeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.allBtn {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  align-items: center;
}

.btn {
  padding: 13px 25px;
  border-radius: 8px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.btn.start {
  background-color: #10b981;
}

.btn.start:hover {
  background-color: #059669;
}

.btn.pause {
  background-color: #f59e0b;
}

.btn.pause:hover {
  background-color: #d97706;
}

.btn.rest {
  background-color: #ef4444;
}

.btn.btn.rest:hover {
  background-color: #dc2626;
}
